# fly.toml app configuration file generated for fuck-work-bot on 2026-01-27T21:58:09Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fuck-work-bot'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[mounts]
  source = "bot_data"
  destination = "/data"

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
